학습 결과물/yolov3-computer.cfg
학습 결과물/테스트 명령어.txt
학습 결과물/computer.data
학습 결과물/yolov3-computer.cfg
학습 결과물/yolov3-computer.z02
학습 결과물/yolov3-computer.zip
학습 결과물/yolov3-computer.z01
cfg/yolov3-computer.cfg
cfg/yolov3-computer.z01
cfg/yolov3-computer.z02
cfg/yolov3-computer.zip
